<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Spring-Product</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
<!-- Esta parte es para la configuracion de seguridad , se crea un listener para escuchar al contexto y se le carga el xml donde viene
definida la seguridad atravez de springSecurity para hacer un logueo exitoso  -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->
	
	
	<listener>
   		 <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/security/spring-security-context.xml
		</param-value>
	</context-param>
	
	
<!-- 	Agregue esta linea para inetntar poner al usuario en session con spring para la parte del login  -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
	 	</listener-class>
	</listener>
	
	
	<filter>
		<display-name>springSecurityFilterChain</display-name>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>false</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
			<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/exception.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/error_404.png</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/web_construccion.gif</location>
	</error-page>


	





</web-app>
